allow audioserver persist_file:file { r_file_perms };
allow audioserver diag_device:chr_file { read write };
allow audioserver diag_device:chr_file open;
allow audioserver diag_device:chr_file ioctl;
